
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


:root {
  --color-bg:               #F5F4F2;
  --color-heading:          #0E0F0F;
  --color-button:           #0084C6;
  --color-primary-text:     #FFFFFF;
  --color-primary-circle:   #5DCAFF;
  --color-primary-hover:    #009AE6;
  --color-secondary:        #5AC56C;
  --color-secondary-circle: #9FE8AC;
  --color-secondary-hover:  #369045;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
