/* src/components/Footer.css */

.footer {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #5ab4e6;
    color: white;
    text-align: center;
  }
  
  .footer-button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #ffffff;
    color: #5ab4e6;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition:background-color 0.3s, color 0.3s;
      
  }
  .footer-button:hover{
      background-color:#0D6EFD;
      color: #ffffff;
  }
  
